@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inject IWebAssemblyHostEnvironment Env

@if (Env.Environment != "Development")
{
    <HeadContent>
        <meta http-equiv="Content-Security-Policy"
              content="base-uri 'self';
            default-src
                'self'
                https://cdn.jsdelivr.net;
             connect-src *
                         'self'
                         'unsafe-eval'
                         'unsafe-inline'
                         https://login.microsoftonline.com/;
            img-src data: https:;
            object-src 'none';
            script-src 'self'
                        https://cdn.jsdelivr.net
                       'unsafe-eval'
                         'unsafe-inline';
            style-src 'self'
                        https://cdn.jsdelivr.net
                         'unsafe-inline';
             frame-src https://www.youtube.com;
            upgrade-insecure-requests;">
    </HeadContent>
}

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MyBreathingSpaceV6Layout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p role="alert">You are not authorized to access this resource.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MyBreathingSpaceV6Layout)">
                @* <p role="alert">Sorry, there's nothing at this address.</p> *@
                <PageNotFound></PageNotFound>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
